{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="{% static 'instagram/styles.css' %}" rel="stylesheet">
  <title>Prometheus</title>
</head>
<body>
  <header>
      <div class="header-shell">  
        <div class="header-left-side">

          <h1 class="header-quote">
            <i>
              "Prometheus stole fire from the gods and gave it to man. 
              For this, he was chained to a rock and tortured for eternity."
            </i>
          </h1>
          <h1 class="header-catchphrase">
            <i>

              Usufrua da benção dada á ti.<br> 
              Nos dê o link, e nós lhe traremos a sua chama.
            </i>
          </h1>
        </div>
        <div class="header-right-side">
          <img class="image_prometheus" src="{% static 'instagram/assets/prometheus.jpg' %}" alt="">
        </div>
      </div>
    </header>

  {% block body %}{% endblock %}

  <script src="{% static 'instagram/main.js' %}"></script>
</body>
</html>