{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="{% static 'instagram/styles.css' %}" rel="stylesheet">
  <title>Prometheus</title>
</head>
<body>
  <div class="header-shell">  
    <header >
      <h1 class="header-quote">
          <i>
        "Prometheus stole fire from the gods and gave it to man. 
        For this, he was chained to a rock and tortured for eternity."
          </i>
      </h1>
      <h1 class="header-catchphrase">
        Usufrua da benção dada á ti.<br> 
        Nos dê o link, e nós lhe traremos a sua chama.
      </h1>

    </header>
  </div>

  {% block body %}{% endblock %}
</body>
</html>