*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}


.header-shell{
  display: flex;
  background-color: #86784B;
  color: rgb(214, 214, 214);
  padding-top: 100px;
  padding-bottom: 50px;
}

.header-left-side{
  width: 50%;
}

.header-quote{

  margin-left: 10%;
  width: 50%;
  font-size:30px;
  justify-content: left;
}

.header-catchphrase{
  margin-left: 15%;
  padding-top: 50px;
  font-size: 20px;
  text-align:left;
}

.image_prometheus{
  width: 500px;
  height: auto;
}

h1{
  text-align: center;
}

.search {
  margin: 0 auto;
  display: flex;
  padding: 20px;
  justify-content: center;
  background-color:rgb(214, 214, 214);
}

.download {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  background-color:rgb(214, 214, 214);

}

.filler{
  padding-bottom:100%;
  height:fit-content;
  background-color:rgb(214, 214, 214);
}

.videos{
  justify-content: center;
  display: flex;
}

#url_input{
width: 400px;
height: 70px;
font-size: 40px;
border-top-left-radius: 25px;
border-bottom-left-radius: 25px;
}

#search_button{
  width: 100px;
  height: 70px;
  background-color: rgb(58, 58, 58);
  color: rgb(214, 214, 214);
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;

  font-size: 20px;
}

#download_button{
  background-color: rgb(58, 58, 58);
  color: rgb(214, 214, 214);
  width: 400px;
  height: 70px;
  font-size: 40px;
  border-radius: 25px;
}